<!DOCTYPE html>
<html>
<head>
  <title> Skan Home </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<body>
  <header>
    <h1> Remote Jobs </h1>
  </header>
  <main>
    <form name="search_box" action="/search" method="GET">
      <label><b> Search by term: </b></label><br>
      <input type="text" name="term" placeholder="i.e python" autocomplete="on" autofocus  required><br>
      <button type="submit"> Find my job </button>
    </form>
  </main>
</body>
</html>